<app-navbar></app-navbar>

<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title">
            <h3>Nos Services</h3>
            <ul>
                <li><a routerLink="/">Acceuil</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>

<section class="service-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Services</span>
            <h2>Découvrez nos services exceptionnels</h2>
            <p>
                Nous nous engageons à fournir des services de haute qualité, en mettant 
                l'accent sur l'innovation, la créativité et la satisfaction de nos clients. 
                Chaque projet est réalisé avec une attention particulière aux détails et une passion pour l'excellence.
            </p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <a routerLink="/services"><img src="assets/img/services/Presentation_Koffi_Raymet.jpg" alt="Service Images"></a>

                <div class="service-content">
                <a routerLink="/services">
                    <h3>Long-métrage pour les films de 10 à 90 minutes destines aux enfants</h3>
                </a>
                <p>Découvrez nos longs-métrages captivants pour les enfants, allant de 10 à 90 minutes.</p>
                <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <a routerLink="/services"><img src="assets/img/services/Affiche_8.jpg" alt="Service Optimat"></a>

                <div class="service-content">
                <a routerLink="/services"><h3>Court-métrage vidéo pour l’illustration de vos projets</h3></a>
                <p>Nos courts-métrages vidéo illustrent parfaitement vos projets avec créativité.</p>
                <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <a routerLink="/services"><img src="assets/img/services/Kool.jpg" alt="Service Images"></a>

                <div class="service-content">
                <a routerLink="/services"><h3>Moyen-métrage vidéo pour les documentaires et simulations 3D</h3></a>
                <p>Productions de moyen-métrages pour documentaires et simulations 3D immersives.</p>
                <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                </div>
            </div>
            </div> 

            <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <a routerLink="/services"><img src="assets/img/services/event.jpg" alt="Service Images"></a>

                <div class="service-content">
                <a routerLink="/services"><h3>Animation 3D </h3></a>
                <p>Animations 3D innovantes pour donner vie à vos idées et projets.</p>
                <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>
                
                <div class="service-content">
                <a routerLink="/services"><h3>Motion graphique</h3></a>
                <p>Création de motion graphics pour des visuels dynamiques et attrayants.</p>
                <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <a routerLink="/services"><img src="assets/img/services/Kool_1.jpg" alt="Service Images"></a> 

                <div class="service-content">
                <a routerLink="/services"><h3>Spots publicitaires</h3></a>
                <p>Production de spots publicitaires percutants pour promouvoir vos produits.</p>
                <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <a routerLink="/services"><img src="assets/img/services/Affiche_8.jpg" alt="Service Images"></a>

                <div class="service-content">
                <a routerLink="/services"><h3>Supports de communication institutionnelle</h3></a>
                <p>Supports de communication institutionnelle pour renforcer votre image de marque.</p>
                <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <a routerLink="/services"><img src="assets/img/services/Affiche_3.jpg" alt="Service Images"></a>

                <div class="service-content">
                <a routerLink="/services"><h3>Supports des présentations de projets</h3></a>
                <p>Supports de présentation de projets pour des présentations percutantes.</p>
                <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <a routerLink="/services"><img src="assets/img/services/OPTIMAT_Inc Web.png" alt="Service Images"></a>

                <div class="service-content">
                <a routerLink="/services"><h3>Production des documentaires institutionnels</h3></a>
                <p>Production de documentaires institutionnels pour raconter votre histoire.</p>
                <a routerLink="/services" class="more-btn"><i class='bx bx-plus'></i></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>