<app-navbar></app-navbar>

<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title">
            <h3>A Propos de Nous</h3>
            <ul>
                <li><a routerLink="/">Acceuil</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>

<div class="about-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="assets/img/3d/about.jpg" alt="About Images">

                    <div class="about-bg-shape">
                        <img src="assets/img/logo-icon.png" alt="About Shape">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-content">
                    <span>A Propos de Nous!</span>
                    <h2>Nous existons depuis 2016</h2>
                    <p>
                        OPTIMAT Incorporation est un studio professionnel d’animation 3D de pointe basé à Kinshasa,
                        en République Démocratique du Congo.
                        Fort d’une équipe d’experts passionnés,
                        nous sommes dédiés à la création de contenus visuels innovants et immersifs.
                    </p>
                    <p>
                        Fondé à Kinshasa en 2016, OPTIMAT Incorporation est né de la passion d'une équipe de jeunes
                        talents pour l'animation 3D.
                        Depuis, nous avons travaillé sur de nombreux projets,
                        allant des spots publicitaires aux courts métrages, en contribuant au développement de
                        l'industrie créative en RDC.
                    </p>
                    <p>
                        Notre équipe est composée de passionnés d'animation 3D, de graphistes talentueux, et de
                        techniciens expérimentés.
                    </p>
                    <p>
                        <strong>Mission</strong> : "Chez OPTIMAT Incorporation, notre mission est de donner vie à vos
                        idées grâce à l'animation 3D de haute qualité, en mettant en valeur la créativité congolaise."
                    </p>
                    <p>
                        <strong>Vision</strong> : "Devenir le leader de l'animation 3D en RDC et un acteur majeur en
                        Afrique,
                        en produisant des contenus originaux et innovants."
                    </p>
                    <p>
                        <strong>Valeurs</strong> : "Créativité, qualité, innovation, professionnalisme, et engagement
                        envers la promotion du talent local."
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="choose-area ptb-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Pourquoi nous choisir ?</span>
            <h2>Nous offrons des services de haute qualité</h2>
            <p>
                OPTIMAT Incorporation est votre partenaire de choix pour des animations 3D de qualité supérieure,
                ancrées dans la culture Africaine,
                en particulier congolaise et réalisées par une équipe d'experts passionnés.
            </p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bxs-map'></i>
                    <h3>Expertise locale</h3>
                    <p class="m-2">
                        Nous sommes ancrés dans le tissu culturel congolais et produisons des
                        contenus qui résonnent auprès du public local.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bxs-star'></i>
                    <h3>Qualité irréprochable</h3>
                    <p class="m-2">
                        Nous mettons un point d’honneur à livrer des productions
                        de haute qualité, conformes aux standards internationaux.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-brain'></i>
                    <h3>Innovation</h3>
                    <p class="m-2">
                        Nous sommes constamment à la recherche de nouvelles techniques
                        et de nouvelles formes d’expression pour offrir une expérience visuelle unique.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bxs-heart'></i>
                    <h3>Engagement</h3>
                    <p class="m-2">
                        Nous nous engageons à soutenir le développement de l’industrie
                        de l’animation 3D en République Démocratique du Congo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
 
<div class="testimonial-area-two ptb-100">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Testimonial</span>
            <h2 class="text-white">Fernando Nyembwe DG de l'entreprise</h2>
            <p>“
                Nous avons été bluffés par la qualité du travail de OPTIMAT Incorporation. 
                Nos animations 3D sont d’un réalisme saisissant, les rendus sont impeccables et nous avons livré des projets dans un délai record. 
                Ce qui nous a le plus impressionnés, c’est le rapport qualité prix. 
                Nous n’avons trouvé aucun concurrent local capable d’offrir un tel niveau de qualité à un prix aussi compétitif. 
                OPTIMAT Incorporation a su donner vie à plusieurs visions et a dépassé nos attentes des entreprises. 
                Nous recommandons vivement !
            ”</p>
        </div>
 
    </div>

    <div class="testimonial-icon">
        <i class='bx bxs-quote-alt-right'></i>
    </div>
</div>

<div class="designer-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Notre équipe</span>
            <h2>Rencontrez Notre Équipe</h2>
            <p>
                Nous sommes une équipe de passionnés de l’animation 3D, de graphistes talentueux, et de techniciens expérimentés. 
                Nous sommes dédiés à la création de contenus visuels innovants.
            </p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/about">
                            <img src="assets/img/team/fernando.jpg" alt="Julio fernado"> 
                        </a>
                    </div>

                    <div class="designer-content">
                        <a routerLink="/about">
                            <h3>Julio Fernando</h3>
                        </a>
                        <span>Directeur général</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/about"><img src="assets/img/team/Laeticia.png"
                                alt="Laeticia SHOMA"></a>
                    </div>
                    <div class="designer-content">
                        <a routerLink="/about">
                            <h3>Laeticia SHOMA</h3>
                        </a>
                        <span>Directrice Chargée de L’Administratif & Financier</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/about">
                            <img src="assets/img/team/Yannick.png" alt="Yannick Lufuluabo LFK">
                        </a>
                    </div>

                    <div class="designer-content">
                        <a routerLink="/about">
                            <h3>Yannick Lufuluabo LFK</h3>
                        </a>
                        <span>Directeur Chargé De la Production 3D</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/about"><img src="assets/img/team/Betty.jpeg"
                            alt="Betty Stéphanie MBUYI">
                        </a> 
                    </div>

                    <div class="designer-content">
                        <a routerLink="/about">
                            <h3>Betty Stéphanie MBUYI</h3>
                        </a>
                        <span>Directrice Chargée D’Études & Projets</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/about">
                            <img src="assets/img/team/odin.jpeg" alt="Mbinza odine">
                        </a>
                    </div>

                    <div class="designer-content">
                        <a routerLink="/about">
                            <h3>Mbinza odine</h3>
                        </a>
                        <span>Directrice Chargée Artistique & Design</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/about">
                            <img src="assets/img/team/Loic(2).jpeg" alt="Loïc Imidy">      
                        </a>
                    </div> 
                    <div class="designer-content"> 
                        <a routerLink="/about">
                            <h3>Loïc Imidy</h3>
                        </a>
                        <span>Directeur Chargé des Partenariats commercial</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/about">
                            <img src="assets/img/team/Nawel.png" alt="Nawel Yav Kayang">
                        </a>
                    </div>

                    <div class="designer-content">
                        <a routerLink="/about">
                            <h3>Nawel Yav Kayang</h3>
                        </a>
                        <span>Directrice Chargée de La Création</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="designer-card">
                    <div class="designer-img">
                        <a routerLink="/about">
                            <img src="assets/img/team/Grace.png" alt="Grâce MUBANGI">
                        </a>
                    </div>

                    <div class="designer-content">
                        <a routerLink="/about">
                            <h3>Grâce MUBANGI</h3>
                        </a>
                        <span>Directrice Chargée de Passation des Marchés & Juridique </span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<app-footer></app-footer>