<app-navbar></app-navbar>

<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title">
            <h3>Nos Produits</h3>
            <ul>
                <li><a routerLink="/">Acceuil</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                <li>Products</li>
            </ul>
        </div>
    </div>
</div>

<section class="product-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Product</span>
            <h2>Découvrez Nos Produits Préparés</h2>
            <p>
                Nous offrons une large gamme de produits de haute qualité,
                soigneusement préparés pour répondre à vos besoins.
                Découvrez nos designs uniques et innovants, allant des couvertures de livres aux t-shirts personnalisés.
                Chaque produit est conçu avec une attention particulière aux détails pour garantir votre satisfaction.
            </p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services">
                            <h3>Modélisation 3D et Animation de Personnages 3D</h3>
                        </a>
                        <p>Création d'animations pour des personnages dans divers contextes +(films, séries, jeux vidéo,
                            publicités, etc.).</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services">
                            <h3>Maquettes de Visualisation Architecturale 3D</h3>
                        </a>
                        <p>Production de rendus 3D photoréalistes et d'animations pour présenter des projets
                            immobiliers, des bâtiments ou des aménagements urbains.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services">
                            <h3>Animation de Produits 3D</h3>
                        </a>
                        <p>Création d'animations pour mettre en valeur les caractéristiques et le fonctionnement de
                            produits (pour des présentations, des publicités, des manuels interactifs, etc.).</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services">
                            <h3>Effets Spéciaux (VFX) 3D</h3>
                        </a>
                        <p>Intégration d'éléments 3D réalistes ou stylisés dans des prises de vues réelles pour des
                            films, des publicités ou d'autres productions audiovisuelles.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services">
                            <h3>Motion Design 3D</h3>
                        </a>
                        <p>Création d'animations graphiques en 3D pour des logos animés, des génériques, des
                            infographies animées, des présentations, etc.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services">
                            <h3>Réalité Virtuelle (VR) et Réalité Augmentée (AR) 3D</h3>
                        </a>
                        <p>Développement d'expériences immersives en 3D pour la VR et l'AR (visites virtuelles,
                            simulations, applications interactives, etc.). </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services">
                            <h3>Modélisation 3D</h3>
                        </a>
                        <p>Création de modèles 3D détaillés d'objets, de personnages, d'environnements, etc., qui
                            peuvent ensuite être utilisés pour l'animation ou d'autres applications. </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services">
                            <h3>Rendu 3D (Rendering)</h3>
                        </a>
                        <p>Production d'images fixes ou de séquences animées à partir de modèles 3D, en mettant l'accent
                            sur la qualité visuelle, l'éclairage et les textures. </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services">
                            <h3>Storyboardions et Prévisualisation 3D</h3>
                        </a>
                        <p>Création de storyboards animés en 3D pour visualiser et planifier les séquences d'un projet
                            avant la production finale.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/services"><img src="assets/img/services/graphique.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/services">
                            <h3>Consultation et Direction Artistique 3D</h3>
                        </a>
                        <p>Offre de conseils et d'expertise en matière d'animation 3D pour aider les clients à
                            concrétiser leurs projets.</p>

                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-12">
                <div class="pagination-area">
                    <nav aria-label="Page navigation example text-center">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link page-links" routerLink="/product"><i
                                        class='bx bx-chevrons-left'></i></a></li>
                            <li class="page-item current"><a class="page-link" routerLink="/product">1</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/product">2</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/product">3</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/product"><i
                                        class='bx bx-chevrons-right'></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div> -->
        </div>
    </div>
</section>

<app-footer></app-footer>