<app-navbar></app-navbar>

<div class="main-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="banner-content text-center">
                    <h1>Le premier studio d'animation 3D en RDC.</h1>
                    <p>OPTIMAT Incorporation est un studio professionnel de composition et d'animation 3D basé à
                        Kinshasa,
                        en République Démocratique du Congo.
                        Il se spécialise dans la production de courts et longs métrages(films et séries)
                        d'animation 3D, de spots publicitaires.</p>
                    <div class="banner-btn">
                        <a routerLink="/contact" class="default-btn">Contactez-Nous!</a>
                        <a routerLink="/products" class="default-btn active">Nos Produits</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-0 order-1 order-lg-2 mt-3 mt-lg-0">
                <div class="banner-img">
                    <img src="assets/img/3d/Affiche.jpg" alt="koffi raymet">
                    <div class="banner-into-slider owl-carousel owl-theme">
                        <!-- Ensure the owl-carousel is correctly initialized -->
                        <div class="item"><img src="assets/img/3d/Koffi_16.jpg" alt="Banner Images"></div>
                        <div class="item"><img src="assets/img/3d/Koffi_16.jpg" alt="Banner Images"></div>
                        <div class="item"><img src="assets/img/3d/Koffi_16.jpg" alt="Banner Images"></div>
                        <div class="item"><img src="assets/img/3d/Koffi_16.jpg" alt="Banner Images"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="assets/img/3d/about.jpg" alt="About Images">

                    <div class="about-bg-shape">
                        <img src="assets/img/logo-icon.png" alt="About Shape">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-content text-center">
                    <span>A Propos de Nous!</span>
                    <h2>Nous existons depuis 2016</h2>
                    <p>Depuis notre création en 2016, nous avons acquis une solide expertise dans la production.</p>
                    <p>Nous avons travaillé sur divers projets allant des courts métrages aux longs métrages, 
                        en passant par des publicités et des animations éducatives. Notre équipe de professionnels 
                        dévoués utilise les dernières technologies pour garantir des résultats de haute qualité. 
                        Nous nous engageons à raconter des histoires captivantes et à créer des visuels époustouflants 
                        qui captivent notre public.
                    </p>
                    <div class="about-btn">
                        <a routerLink="/about" class="know-more-btn">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-shape">
        <img src="assets/img/about/shape1.png" alt="About Shape">
    </div>
</div>

<section class="service-area pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Pourquoi nous choisir ?</span>
            <h2>Nous offrons des services de haute qualité</h2>
            <p>
                OPTIMAT Incorporation est votre partenaire de choix pour des animations 3D de qualité supérieure, 
                ancrées dans la culture Africaine,
                 en particulier congolaise et réalisées par une équipe d'experts passionnés.
            </p>
        </div>

        <div class="service-slider owl-carousel owl-theme pt-45">
            <div class="service-card">
                <a routerLink="/about">
                    <i class='bx bx-map-pin' style="font-size: 2em;"></i>
                </a>
                <div class="service-content">
                    <a routerLink="/about">
                        <h3>Expertise locale</h3>
                    </a>
                    <p>
                        Nous sommes ancrés dans le tissu culturel congolais et produit sons des contenus 
                        qui résonnent auprès du public local.
                    </p> 
                </div>
            </div> 

            <div class="service-card">
                <a routerLink="/about">
                    <i class='bx bx-check-shield' style="font-size: 2em;"></i>
                </a>
                <div class="service-content">
                    <a routerLink="/about">
                        <h3>Qualité irréprochable</h3>
                    </a>
                    <p>
                        Nous mettons un point d’honneur à livrer des productions de haute qualité, 
                        conformes aux standards internationaux.
                    </p> 
                </div>
            </div>

            <div class="service-card">
                <a routerLink="/about">
                    <i class='bx bx-brain' style="font-size: 2em;"></i>
                </a>

                <div class="service-content">
                    <a routerLink="/about">
                        <h3>Innovation</h3>
                    </a>
                    <p>
                        Nous sommes constamment à la recherche de nouvelles techniques et de nouvelles 
                        formes d’expression pour offrir une expérience visuelle unique.
                    </p>
                   
                </div>
            </div>

            <div class="service-card">
                <a routerLink="/about">
                    <i class='bx bx-heart' style="font-size: 2em;"></i>
                </a>
                <div class="service-content">
                    <a routerLink="/about">
                        <h3>Engagement</h3>
                    </a>
                    <p>
                        Nous nous engageons à soutenir le développement de 
                        l’industrie de l’animation 3D en République Démocratique du Congo.
                    </p> 
                </div>
            </div>
        </div>
    </div>
</section>


<div class="testimonial-area pb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="testimonial-content">
                    <div class="scetion-title text-center">
                        <span>Objectifs</span>
                        <h2>
                            Objectifs principaux de OPTIMAT Incorporation 
                        </h2>
                        <p>
                            OPTIMAT Incorporation a pour objectif de devenir un acteur majeur de l'animation 3D en RDC et à l'international, en proposant 
                            des productions de qualité, en valorisant la culture congolaise et en contribuant au développement du secteur.
                        </p>
                    </div>

                    <div class="testimonial-slider owl-carousel owl-theme pt-45">
                        <div class="testimonial-item">
                            <h3>Devenir un leader de l'animation 3D en RDC </h3>
                            <p>
                                OPTIMAT ambitionne de s'imposer comme le studio de référence en République Démocratique du Congo, 
                                en offrant des productions de haute qualité et en repoussant les limites de la créativité.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <h3>Promouvoir l’animation 3D en RDC</h3>
                            <p>OPTIMAT aspire à faire connaître et à
                                développer l’industrie de l’animation 3D en République Démocratique du
                                Congo. Il souhaite montrer que ce secteur peut être une source d’innovation et de création locale.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <h3>Raconter des histoires congolaises</h3>
                            <p>L’entreprise met un point d’honneur
                                à produire des contenus qui reflètent l’identité culturelle congolaise.
                                Que ce soit à travers des séries animées comme «Koffi Raymet» ou des
                                spots publicitaires, l’objectif est de créer des histoires qui résonnent auprès du public local.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <h3>Créer des expériences immersives</h3>
                            <p>Grâce à l’animation 3D, OPTIMAT
                                cherche à offrir des expériences visuelles uniques et captivantes.
                                Il souhaite que ses contenus puissent transporter le spectateur dans des
                                univers imaginaires ou lui faire découvrir de nouveaux points de vue.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <h3>Développer des compétences locales</h3>
                            <p>En formant de jeunes talents et en
                                travaillant avec des partenaires locaux, OPTIMAT contribue au développement des compétences en animation 3D en RDC.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <h3>Attirer l’attention internationale</h3>
                            <p>L’entreprise vise à faire connaître son
                                travail à l’échelle internationale et à positionner la RDC comme un pays
                                créatif et innovant dans le domaine de l’animation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="testimonial-img">
                    <div class="testimonial-bg-shape">
                        <img src="assets/img/testimonial/bg-shape.png" alt="Testimonial Images">
                    </div>

                    <div class="testominail-man">
                        <img src="assets/img/footer-logo.png" alt="Testimonial Shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="blog-area pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Blogs</span>
            <h2>Suivez notre blog pour ne rien manquer!</h2>
            <p>Découvrez nos articles de blog réguliers et restez à jour avec les dernières tendances!</p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <a routerLink="/blog-details"><img src="assets/img/blog/blog1.jpg" alt="Blog Images"></a>

                    <div class="blog-content">
                        <a routerLink="/blog-details">
                            <h3>Work Once Print 100+</h3>
                        </a>
                        <ul class="blog-admin">
                            <li><a routerLink="/"><i class='bx bxs-user'></i> Admin</a></li>
                            <li><i class='bx bx-calendar-alt'></i> 18 May 2024</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit.</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read More <i
                                class='bx bxs-chevrons-right'></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <a routerLink="/blog-details"><img src="assets/img/blog/blog2.jpg" alt="Blog Images"></a>

                    <div class="blog-content">
                        <a routerLink="/blog-details">
                            <h3>Keep Your Print Great</h3>
                        </a>
                        <ul class="blog-admin">
                            <li><a routerLink="/"><i class='bx bxs-user'></i> Admin</a></li>
                            <li><i class='bx bx-calendar-alt'></i> 18 May 2024</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit.</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read More <i
                                class='bx bxs-chevrons-right'></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="blog-card">
                    <a routerLink="/blog-details"><img src="assets/img/blog/blog3.jpg" alt="Blog Images"></a>

                    <div class="blog-content">
                        <a routerLink="/blog-details">
                            <h3>Digital Print is Science</h3>
                        </a>
                        <ul class="blog-admin">
                            <li><a routerLink="/"><i class='bx bxs-user'></i> Admin</a></li>
                            <li><i class='bx bx-calendar-alt'></i> 18 May 2024</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit.</p>
                        <a routerLink="/blog-details" class="read-more-btn">Read More <i
                                class='bx bxs-chevrons-right'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-footer></app-footer>