<footer class="footer-area">
    <div class="container">
        <div class="footer-contact">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-card">
                        <i class='bx bx-time'></i>
                        <h3>Lun - Ven : 08:00 AM - 16:00 PM</h3>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer-card">
                        <i class='bx bxs-map'></i>
                        <h3>01, Wagenia, Immeuble Baobab 4è Étage/4C Kinshasa - Gombe - RDC</h3>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer-card">
                        <i class='bx bxs-phone-call'></i>
                        <h3 class="media-tel">
                            <a href="tel:+19876543210">+243 821 822 722</a> 
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top-list pb-70">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-list">
                        <h3>Services</h3>

                        <ul>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Expertise locale</a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Qualité irréprochable</a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Innovation</a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Engagement</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3">
                    <div class="footer-list">

                        <h3>Liens rapides</h3>
                        <ul>
                            <li><i class='bx bxs-chevron-right'></i><a routerLink="/">Acceuil</a></li>
                            <li><i class='bx bxs-chevron-right'></i><a routerLink="/services">Service</a></li>
                            <li><i class='bx bxs-chevron-right'></i><a routerLink="/about">About Us</a></li>
                            <li><i class='bx bxs-chevron-right'></i><a routerLink="/products">Produits</a></li>
                            <li><i class='bx bxs-chevron-right'></i><a routerLink="/blog">Evenements</a></li>
                            <li><i class='bx bxs-chevron-right'></i><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5">
                    <div class="footer-side-list">
                        <h3>Contact Us</h3>

                        <ul>
                            <li><i class='bx bxs-phone'></i> <a href="tel:+243821822722">+243 821 822 722</a></li>
                            <li><i class='bx bxs-phone'></i> <a href="tel:+243844703772">+243 844 703 772</a></li>
                            <li><i class='bx bxl-telegram'></i> <a href="mailto:contact&#64;optimatincorporation.com">contact&#64;optimatincorporation.com</a></li>
                            <li><i class='bx bxs-map'></i> 01, Wagenia, Immeuble Baobab 4è Étage/4C Kinshasa - Gombe - RDC</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <div class="footer-logo">
                        <img src="assets/img/footer-logo.png" alt="Footer Logo" style="width: 50px; height: auto;">
                    </div>
                </div>

                <div class="col-lg-8 col-md-9">
                    <div class="bottom-text">
                        <p>©2025 OPTIMAT INCORPORATION. Build by <a href="https://ictech-dev.com/" target="_blank">ICTECH</a></p>
                        <ul class="social-bottom">
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>